//- TODO: Mobile friendly menu
- if (loggedIn)
  .menuContainer
    .menuInner
      ul.nav
        li
          a(href='/') Home
        li 
          a(href='/admin/dashboard') Dashboard
        li 
          a(href='/admin/logout') Logout
