- if (loggedIn)
  .menuContainer
    .menuInner
      ul.nav
        li 
          a(href='/admin/dashboard') Dashboard
        li 
          a(href='/admin/list/survey') List Surveys
        li
          a(href='/admin/list/user') List Users
