extends layout

block content
  h3.center-text= survey.question
  form(action='/answer', method='post')
    include ./partials/csrf.jade
    - if (survey.type === 'multiple')
      .tinytext Select one or more.
      fieldset
        - var answers = JSON.parse(survey.answers)
        - var i = 1;
        - each answer in answers
          input(type='checkbox', name='answers', id='answer'+i)
          label(for='answer'+1)
            i.ionicons
            span= answer
    - else 
      .tinytext Select one.
      fieldset
        - var answers = JSON.parse(survey.answers)
        - var i = 1;
        - each answer in answers
        input(type='radio', name='answers', id='answer'+i)
          label(for='answer'+1)
            i.ionicons
              span= answer
