extends layout

block content
  form(action='/answer', method='post')
    include ./partials/csrf.jade
    fieldset
      - var answers = JSON.parse(survey.answers)
      - var i = 1;
      - each answer in answers
        input(type='checkbox', name='answers', id='answer'+i)
        label(for='answer'+1)
          i.ionicons
          span= answer
