extends layout

block content
  img.sumohead(src='/images/sumohead.png')
  h1.center-text Adminstration Dashboard
  p Logged in as #{loggedIn}
  fieldset
    a.button(href='/admin/new/survey') New Survey
    a.button(href='/admin/list/survey') List Surveys
    a.button(href='/admin/new/user') New User
    a.button(href='/admin/list/user') List Users
    a.button(href='/admin/logout') Logout
