extends layout

block content
  img.sumohead(src='/images/sumohead.png')
  h1.center-text Adminstration Dashboard
  fieldset
    form(action='/admin/new/survey', method='GET')
      input(type='submit', value='New Survey')
    form(action='/admin/edit/surveys', method='GET')
      input(type='submit', value='Edit Surveys')
    form(action='/admin/new/user', method='GET')
      input(type='submit', value='New User')
    form(action='/admin/edit/users', method='GET')
      input(type='submit', value='Edit Users')
