extends layout

block content
  img.sumohead(src='/images/sumohead.png')
  h1.center-text= title
  p.center-text Welcome to #{title}. Want to give your opinion? Click below to get started!
  
  
  a.button(href='/answer') Answer Some Questions!
