doctype html
html
  head
    meta(name='viewport', content='width-device-width, initial-scale=1, user-scalable=false')
    title= title
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    include ./partials/flash.jade
  body
    .container
      block content
