extends layout

block content
  img.sumohead(src='/images/sumohead.png')
  h3.center-text Welcome to Sumo Survey
  p.center-text This setup will only have to be performed once to set up the initial user. All other administration functions can be performed from the backend once logged in.
  form(action='/admin/setup', method='POST')
    fieldset
      input(type='text', placeholder='Username', name='username')
      input(type='password', placeholder='Password', name='password')
