* {
  box-sizing: border-box;
}

body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  padding: 10px;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

fieldset {
  border: none;
  padding-top: 0;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

input, button {
  background-color: #F7F7F7;
  border: 2px #DDD solid;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  transition: .5s ease;
}

input:hover, button:hover {
  background-color: #DDD;
}

input[type='submit'] {
  background-color: #2665C9;
  color: #FEFEFE;
  vertical-align: middle;
}

input[type='submit']:hover {
  background-color: #235CB8;
}

fieldset input,
fieldset button {
  border-radius: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

fieldset input[type='checkbox'],
fieldset input[type='radio'] {
  display: none;
}

fieldset input[type='checkbox'] + label,
fieldset input[type='radio'] + label {
  border: 2px #DDD solid;
  border-top: 1px #DDD solid;
  border-bottom: 1px #DDD solid;
  padding: 15px 20px;
  margin: 0 auto;
  background-color: #F7F7F7;
  display: inline-block;
  transition: .5s ease;
}

fieldset input[type='checkbox']:hover + label,
fieldset input[type='radio']:hover + label {
  background-color: #DDD;
}

fieldset input[type='checkbox']:checked + label,
fieldset input[type='radio']:checked + label {
  background-color: #2CBA59;
  color: #FEFEFE;
  border-color: #26A14D;
}

fieldset input[type='checkbox'] + label > i::before,
fieldset input[type='radio'] + label > i::before {
  content: "\f401";
  font-size: 1.2em;
  padding-right: .25em;
}

fieldset input[type='checkbox']:checked + label > i::before {
  content: "\f3ff";
}

fieldset input[type='radio']:checked + label > i::before {
  content: "\f400";
}

fieldset input[type='text'],
fieldset input[type='password'],
fieldset button {
  padding: 10px;
  border: 2px #DDD solid;
  border-top: 1px #DDD solid;
  border-bottom: 1px #DDD solid;
  background-color: #F7F7F7;
  display: inline-block;
}

fieldset input:first-child,
fieldset button:first-child {
  border-radius: 5px 5px inherit inherit;
  border-top-width: 2px;
}

fieldset input:last-child,
fieldset button:last-child {
  border-radius: inherit inherit 5px 5px;
  border-bottom-radius: 2px;
}

label span {
  display: inline-block;
  padding-left: 6px;
  text-align: center;
  font-size: 1.2em;
}

.center-text {
  text-align: center;
}

.captcha {
  margin: 0 auto;
}

.sumohead {
  margin: auto;
  display: block;
  width: 200px;
  height: 200px;
}

.tinytext {
  color: #777;
  font-size: .5em;
  float: right;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.flash-wrapper {
  position: fixed;
  width: 100%;
  height: 2em;
  top: -4em;
  left: 0;
  z-index: 20;
  -webkit-animation: slideup 5s;
  -o-animation: slideup 5s;
  animation: slideup 5s;
  color: #FEFEFE;
}

.flash-wrapper .info {
  background-color: #2665C9;
  padding: 1em;
}

.flash-wrapper .error {
  background-color: #C9262C;
  padding: 1em;
}

.halfpint > label {
  width: 50%;
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
  border-width: 2px;
}

.halfpint > label:first-child {
  border-width-right: 1px !important;
}

.halfpint > label:last-child {
  border-width-left: 1px !important;
}

.add > i {
  padding-right: .25em;
}

.float-left {
  float: left;
}

.answer {
  width: 100%;
  position: relative;
  height: 100%;
}

.answer > .drag-handle {
  width: 1.2em;
  font-size: 1.5em;
  line-height: 2em;
  position: absolute;
  top: 0;
  left: -1.2em;
  vertical-align: middle;
}

.answer > input {
  width: 92%;
}

.answer > .delete-answer {
  width: 8%;
  border-left-width: 0;
  border-radius: 0 5px 5px 0;
  /*top: 1px;
  font-size: 1.2em;
  line-height: 1em;
  border-top-width: 1px;
  border-bottom-width: 1px;
  height: 43px;*/
}

.answer:first-child > input,
.answer:first-child > .delete-answer {
  border-top-width: 2px;
}

.answer:last-child > input,
.answer:last-child > .delete-answer {
  border-bottom-width: 2px;
}

.errorText {
  color: #C9262C;
  display: none;
}

@keyframes slideup{
  0% {
    top: 0;
  }
  85% {
    top: 0;
  }
  100% {
    top: -8em;
  }
}

@-moz-keyframes slideup{
  0% {
    top: 0;
  }
  85% {
    top: 0;
  }
  100% {
    top: -8em;
  }
}

@-webkit-keyframes slideup{
  0% {
    top: 0;
  }
  85% {
    top: 0;
  }
  100% {
    top: -8em;
  }
}

@-o-keyframes slideup{
  0% {
    top: 0;
  }
  85% {
    top: 0;
  }
  100% {
    top: -8em;
  }
}
